/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$light-gray: #777;
$Davy-Grey: #555;
$White: #fff;
$Dark: #222;
$Gray: #bbb;
$gray-light: #e6e6e6;
$red: #FF0000;
$state-danger-text: #a94442;
$gray91: #e8e8e8;
$gray80: #ccc;
$gray20: #333;
