<li id="friend-<%= friend.id %>">
  <%= image_tag friend.avatar.url, class: "img-circle", size: Settings.user.avt_friend %>
  <%= link_to friend.name, friend %> |
  <%= link_to t("users.index.del"), friend_path(friend.id, user_id: "#{@user.id}"), method: :delete,
    data: {confirm: t("users.show_friend.confirm")} %>
</li>
