<div class="form-inline search">
  <%= text_field_tag :name, nil, class: "form-control name" %>
  <%= button_tag type: :submit, class: "btn btn-primary btn-search-user" do %>
    <span class="glyphicon glyphicon-search"></span>
  <% end %>
</div>
