<% provide :title, @user.name %>
<div class="row">
  <aside class="col-md-4">
    <%= render "shared/user_info" %>
    <%= render "friend_form" %>
  </aside>
  <div class="col-md-8" id="document">
  </div>
</div>
