<div class="row">
  <h3 class="text-center"><%= t ".document" %></h3>
  <div class="col-md-offset-2">
    <% if @documents.any? %>
      <ol class="documents">
        <%= render @documents %>
      </ol>
      <%= will_paginate @documents %>
    <% end %>
  </div>
</div>
