<p><%= t("users.mailler.hello", email: @email) %></p>

<p><%= t "users.mailler.content" %></p>

<p><%= link_to t("users.mailler.link_change"), edit_password_url(@resource,
  reset_password_token: @token) %></p>

<p><%= t "users.password.notice_change_pass" %></p>
